:root,
html,
body {
    font-size: 18px;
    --court-black: #231f20;
    --court-ltblue: #93b2dd;
    --court-dkblue: #012362;
    --court-yellow: #f3c727;
    --court-grey: #95a3ab;
    font-family: calibri, monotype;
    color: var(--court-black);
}

.rounded-start {
    border-bottom-left-radius: 0.75rem!important;
    border-top-left-radius: 0.75rem!important;
}

.rounded-end {
    border-bottom-right-radius: 0.75rem!important;
    border-top-right-radius: 0.75rem!important;
}


/*old style*/

nav.navbar ul.court-dkblue a.nav-link,
.bg-light a:not(.btn) {
    color: var(--court-dkblue) !important;
}


/*new style overwrites Bootstrap colors*/

.bg-court-dkblue,
.bg-primary,
.btn-primary {
    background-color: var(--court-dkblue) !important;
    color: #fff;
}

.text-primary {
    color: var(--court-dkblue) !important;
}

.bd-callout-primary,
.border-primary,
.btn-primary {
    border-color: var(--court-dkblue) !important;
}

.bg-dkblue-opacity {
    background-color: rgba(1, 35, 98, .75) !important;
}

.bg-info,
.btn-info {
    background-color: var(--court-ltblue) !important;
    color: var(--court-black);
}

.bd-callout-info,
.border-info {
    border-color: var(--court-ltblue) !important;
}

.bg-warning,
.btn-warning {
    background-color: var(--court-yellow);
    color: var(--court-black);
}

.bd-callout-warning,
.border-warning {
    border-color: var(--court-yellow) !important;
}

.text-warning {
    color: var(--court-yellow) !important;
}

.bd-callout+.bd-callout {
    margin-top: -0.25rem;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.35rem;
    border-radius: 0.35rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: var(--court-yellow);
}

.chatbot {
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 1.5rem;
}

footer a.nav-link,
footer h5 {
    color: #fff
}

footer a.nav-link:hover,
footer a.nav-link:visited {
    color: #fff;
    text-decoration: underline;
}

footer i {
    margin-right: 10px
}

#questionnaire .control-group:focus-within,
#myinfo .card:focus-within {
    border-color: var(--court-dkblue) !important;
}