:root,
html,
body {
    font-size: 16px;
    --court-black: #231f20;
    --court-ltblue: #93b2dd;
    --court-dkblue: #012362;
    --court-yellow: #f3c727;
    --court-grey: #95a3ab;
    font-family: calibri, monotype;
}

.bg-primary,
.btn-primary {
    background-color: var(--court-dkblue);
}

.bg-info,
.btn-info {
    background-color: var(--court-ltblue);
}

.bd-callout-info,
.border-info {
    border-color: var(--court-ltblue) !important;
}

.bg-warning,
.btn-warning {
    background-color: var(--court-yellow);
}

.bd-callout-warning,
.border-warning {
    border-color: var(--court-yellow) !important;
}

.bd-callout+.bd-callout {
    margin-top: -0.25rem;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.chatbot {
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 1.5rem;
}

footer a.nav-link,
footer h5 {
    color: #fff
}

footer a.nav-link:hover,
footer a.nav-link:visited {
    color: #fff;
    text-decoration: underline;
}

footer i {
    margin-right: 10px
}