@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root,
html,
body {
  font-size: 16px;
  --court-black: #231f20;
  --court-ltblue: #93b2dd;
  --court-paleblue: #f0f4fc;
  --court-dkblue: #012362;
  --court-yellow: #f3c727;
  --court-grey: #95a3ab;
  font-family: calibri, Tahoma, Arial, monotype;
  background-color: var(--court-paleblue);
  color: var(--court-black);
  font-display: swap;
}
header a,
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover{color:white; text-decoration: underline;}
.splash {
  background: silver url("../jury/img/splash4.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
div.lasc-logo {
  background-color: #1f303e;
}
.rounded-start {
  border-bottom-left-radius: 0.75rem !important;
  border-top-left-radius: 0.75rem !important;
}

.rounded-end {
  border-bottom-right-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

/*old style*/

nav.navbar ul.court-dkblue a.nav-link,
.bg-light a:not(.btn) {
  color: var(--court-dkblue) !important;
}

/*new style overwrites Bootstrap colors*/

.bg-court-dkblue,
.bg-primary,
.btn-primary {
  background-color: var(--court-dkblue) !important;
  color: #fff;
}
.bg-court-ltblue {
  background-color: var(--court-ltblue) !important;
  color: #333;
}

.text-primary {
  color: var(--court-dkblue) !important;
}

.bd-callout-primary,
.border-primary,
.btn-primary {
  border-color: var(--court-dkblue) !important;
}

.bd-callout-danger,
.border-danger,
.btn-danger {
  border-color: red !important;
}
.bd-callout-success{border-color: green !important;}
.bg-dkblue-opacity {
  background-color: rgba(1, 35, 98, 0.75) !important;
}

.bg-info,
.btn-info {
  background-color: var(--court-ltblue) !important;
  color: var(--court-black);
}

.bd-callout-info,
.border-info {
  border-color: var(--court-ltblue) !important;
}

.bg-warning,
.btn-warning {
  background-color: var(--court-yellow);
  color: var(--court-black);
}

.bd-callout-warning,
.border-warning {
  border-color: var(--court-yellow) !important;
}

.text-warning {
  color: var(--court-yellow) !important;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.35rem;
  border-radius: 0.35rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: var(--court-yellow);
}

.chatbot {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 1.5rem;
}
footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

footer a.nav-link,
footer h5 {
  color: #fff;
}

footer a.nav-link:hover,
footer a.nav-link:visited {
  color: #fff;
  text-decoration: underline;
}

footer i {
  margin-right: 10px;
}

/* form steps option 2 */

.wizard .col > div,
.wizard2 .col > div {
  padding: 5px 10px;
}
.wizard2 > .col-md-2:not(.step-active) > div {
  background: rgba(230, 230, 230, 0.9);
}
.wizard strong,
.wizard2 strong {
  font-size: 22px;
  display: block;
}

.step-active div {
  background-color: lightblue;
}

.step-disabled div {
  background-color: lightgray;
}

.step-error div {
  background-color: lightyellow;
}

.step-complete div {
  background-color: lightgreen;
}

.wizard2 .border {
  border-color: var(--court-dkblue) !important;
  color: var(--court-dkblue);
}

/* form fixes */

#questionnaire .control-group:focus-within,
#myinfo .card:focus-within,
#login .card:focus-within {
  border-color: var(--court-dkblue) !important;
  color: var(--court-dkblue) !important;
}

#questionnaire fieldset {
  margin: 10px 0 0;
}

#questionnaire .boxed {
  border: 1px solid transparent;
  padding: 1px 0 1px 5px;
  margin-top: 5px;
}

#questionnaire .boxed.indicated {
  border-color: var(--court-black);
}

.bg-danger > a.fa-solid,
.bg-success > a.fa-solid {
  color: white !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 255, 0, 0.3);
}

.form-check-input:checked[type="radio"] {
  background-image: none !important;
}

.myaddress {
  color: var(--court-dkblue);
  font-style: italic;
  display: inline-block;
}

#editAddr {
  display: none;
}

option.exempt {
  background-color: aliceblue;
}

.accordion-collapse.collapse.show .accordion-body {
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
}
code {
  color: black !important;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 90vw;
  }
}

.custom-shadow {
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
}
.custom-shadow2 {
  box-shadow: -5px 5px 10px 0 #c0c0c0;
}

ol.bubble {
  list-style: none;
  counter-reset: item;
}
.bubble li {
  counter-increment: item;
  margin-bottom: 5px;
}
.bubble li:before {
  margin-right: 10px;
  content: counter(item);
  background: var(--court-ltblue);
  border-radius: 100%;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}
#steps .col:has(i) {
  text-wrap: nowrap;
}
.modal #timer > strong {color:var(--court-dkblue);background-color: #f1f1f1; padding:0 10px}
.modal #timer > strong > span {color:var(--court-black);}