@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root,
html,
body {
  font-size: 18px;
  --court-primary: #005498;
  --court-black: #231f20;
  --court-ltblue: rgb(212, 229, 245);
  --court-paleblue: #f0f4fc;
  --court-dkblue: #232f3d;
  --court-yellow: #f3c727;
  --court-grey: #95a3ab;
  --court-ltgrey: #eee;
  --court-gold: #f5c04f;
  font-family: Lato, calibri, Tahoma, Arial, monotype;
  color: #4c525a !important;
  font-display: swap;
}
h1 {
  font-size: 48px !important;
  color: var(--court-black);
}
h2 {
  font-size: 24px !important;
  color: var(--court-black);
}
h3 {
  font-size: 18px !important;
  color: var(--court-black);
}
h4 {
  font-size: 16px !important;
  color: var(--court-black);
}
a {
  color: var(--court-primary);
}
.border-primary {
  border-color: var(--court-primary) !important;
}
nav {
  background-color: #232f3d;
  border-bottom: 5px solid #f5c04f;
  border-radius: 20px 20px 0 0;
}
nav {
  background-color: #232f3d;
  border-bottom: 5px solid #f5c04f;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

nav a,
footer a {
  color: #fff;
}

.nav-search {
  border-radius: 10px !important;
  font-size: 14px;
}

.nav-search .form-control::placeholder,
.nav-search value,
.nav-search input {
  font-style: italic;
}

.nav-search i {
  font-style: normal;
}

.navbar .megamenu {
  padding: 1rem;
  font-size: 14px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 5px 0px rgba(0, 0, 0, 0.25); */
  background-color: rgb(206, 221, 237);
  border-top: 5px solid #f5c04f;
}
.megamenu .bg-ltblue,
.bg-ltblue {
  background-color: rgb(206, 221, 237);
}
.bg-blue-pale {
  background: var(--blue-pale);
}

.megamenu :is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
}

@media all and (min-width: 992px) {
  a.nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0.75rem 10px 0.5rem !important;
    &:hover {
      color: #fff !important;
    }
  }
  .megamenu h6.title {
    font-size: 16px;
  }
  .megamenu ul {
    padding-left: 15px;
    list-style: disc;
    li {
      padding-top: 5px;
    }
  }
  .col-megamenu a {
    color: black;
    font-size: 14px;
  }
  .megamenu a:hover {
    color: var(--blue3);
  }
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}

.court-topbar {
  background-color: var(--court-dkblue);
  color: #fff;
  border-bottom: 5px solid var(--court-gold);
  text-align: center;
  font-weight: bold;
}
div.lasc-logo {
  background-color: #1f303e;
}
header a,
nav a,
footer a {
  color: #fff;
  text-decoration: none;
}
.jumbotron i {
  font-size: 8rem;
}

.splash {
  background: silver url("../img/splash4.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
button:disabled {
  background-color: var(--court-grey) !important;
  border-color: var(--court-grey) !important;
}
.bd-primary,
.btn-primary,
.bg-primary {
  background-color: var(--court-primary) !important;
  color: #fff;
}
.btn-primary {
  border-color: var(--court-primary);
}
.text-primary {
  color: var(--court-primary) !important;
}
.text-dkblue {
  color: var(--court-dkblue) !important;
}
.bg-paleblue {
  background-color: var(--court-paleblue);
}
.bg-ltblue,
.btn-ltblue,
.btn-info {
  background-color: var(--court-ltblue) !important;
}
.btn-ltblue,
.btn-info {
  border-color: rgba(var(--court-ltblue), 0.9);
}
.bg-gold,
.btn-gold {
  background-color: var(--court-gold);
  color: #fff;
}
.btn-gold {
  border-color: var(--court-gold);
}
.bg-ltgrey {
  background-color: var(--court-ltgrey);
}
.accordion-body,
.accordion-button,
.accordion-body,
.accordion-header,
.accordion-item {
  background-color: transparent;
}
.accordion-item {
  border: 0px solid green;
  border-bottom: 1px solid var(--court-grey);
}
.shadow1 {
  box-shadow: 0px 3px 1px #c0c0c0;
}
.card,
.card-img-top {
  border-radius: 0 !important;
}
.card-text {
  color: #4c525a !important;
}
.card-transparent,
.card-transparent .card-header {
  background: transparent;
  border-color: transparent;
}
.card-header {
  border-color: transparent;
}
.transparent,
.transparent li {
  background: transparent;
  border-color: transparent;
}
.accordion-item.noline {
  border-bottom: 0 !important;
  padding-left: 0.125rem;
}
.accordion-item.noline .accordion-collapse {
  background-color: white;
  padding: 0.125rem;
}
.noline button.accordion-button,
.noline::marker {
  color: blue !important;
}

footer .card-header {
  color: white;
}
@media (width < 640px) {
  .shadow1 {
    box-shadow: 0 0 0 transparent;
    border-right: none;
  }
  .hide-mobile {
    display: none;
  }
  .container {
    padding: 0px !important;
    .row {
      padding: 0px !important;
    }
    #prog .border-bottom,
    #prog .card {
      border: none !important;
    }
    .xs-nopad {
      padding: 0 !important;
      em {
        padding-left: 8px;
      }
    }
  }
}
@media (width > 640px) {
  .hide-desktop {
    display: none;
  }
}

.jumbotron {
  border-radius: 0 0 25px 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px !important;
}

.rounded {
  border-radius: 20px !important;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px !important;
  }
}
.w-70 {
  width: 70%;
}
/* footer */

footer {
  background-color: var(--court-dkblue) !important;
  color: #fff;
  .brands a {
    margin-right: 20px;
    font-size: 24px;
  }
  a {
    font-size: 16px;
  }
  .last-line a {
    text-decoration: underline;
  }
}
footer .list-group-item {
  padding: 0.125rem;
}
