.resource-accordion {
  --bs-accordion-bg: #F2F6FB;
  --bs-accordion-active-bg: var(--bs-accordion-bg);
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 20px;
  --bs-accordion-inner-border-radius: var(--bs-accordion-border-radius);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 12.5a.5.5 0 0 1-.354-.854L11.793 8 7.646 3.854a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.354.146z'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: var(--bs-accordion-body-padding-x);
}

.resource-accordion .accordion-button {
  font-family: "Newsreader", serif;
  font-size: 24px;
}

.resource-accordion .accordion-button:after {
  background-color: #232F3D;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-position: center;
  display: flex;
  border-radius: 4px;
  transform: rotate(90deg);
}

.resource-accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(-90deg);
}

.resource-accordion .accordion-button,
.resource-accordion .accordion-item {
  border-radius: var(--bs-accordion-border-radius) !important;
}

.resource-accordion table td {
  border-width: 0;
}

.resource-accordion table tr.active {
  background-color: #F5C04F;
}