.form-check-input {
  border-width: 2.5px;
}

.error-message {
  color: #BD002A;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.error-message img {
  width: 20px;
  margin-right: 5px;
}

.help-text {
  font-size: 14px;
  color: #67728A;
}