.notification {
  box-shadow: 0px 0px 0px 1px rgba(25, 37, 50, 0.1), 0px -6px 16px -6px rgba(25, 37, 50, 0.03), 0px 8px 16px -8px rgba(25, 37, 50, 0.2), 0px 13px 27px -5px rgba(25, 37, 50, 0.15);
  border-radius: 6px;
  border: 2px solid transparent;
}

.notification .notification-title {
  font-size: 16px;
  color: #1B273A;
  font-weight: 500;
}

.notification .notification-body {
  font-size: 14px;
  color: #414D63;
  font-weight: 400;
}

.notification.positive {
  border-left-color: #006D23;
}

.notification.negative {
  border-left-color: #BD002A;
}

.notification.warning {
  border-left-color: #F07F23;
}