.pk-card-3.card,
.pk-card-3 .card-body {
  border-radius: 12px;
}

.pk-card-3 .button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 12px !important;
}

.pk-card-3.card .button span {
  font-size: 14px;
  font-weight: 600;
}