:root,
*,
html,
body {
  --court-black: #231f20;
  --court-ltblue: #EEF6F9;
  --court-paleblue: #f0f4fc;
  --court-dkblue: #012362;
  --court-yellow: #f3c727;
  --court-grey: #95a3ab;
}
.hero{background: var(--court-ltblue);}
h1, h2, h3,
h4, h5, h6 {color:var(--court-dkblue)}