@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root,
html,
body {
  font-size: 16px;
  line-height: 28px;
  font-family: "Lato", sans-serif;
  --court-black: #231f20;
  --court-ltblue: #eef6f9;
  --court-paleblue: #eef6f9;
  --court-dkblue: #232f3d;
  --court-yellow: #f3c727;
  --court-grey: #95a3ab;
  --court-gold: #f5c04f;
  --court-dkgrey: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 700;
}
nav {
  color: var(--court-black);
}
nav a {
  color: var(--court-black);
}
nav #google_translate_element {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
footer {
  background-color: var(--court-dkgrey);
  color: #fff;
}
footer a {
  color: var(--court-grey);
  font-size: 24px;
}
footer a:hover {
  color: #fff;
}
.court-topbar {
  background-color: var(--court-dkblue);
  color: #fff;
  border-bottom: 5px solid var(--court-gold);
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.hero {
  font-family: "Lato", sans-serif;
}
.accordion-button {
  font-size: 18px;
  font-weight: 600;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.bg-paleblue {
  background: var(--court-ltblue);
}
.bg-gold{background-color: var(--court-gold);}
.bg-court-dkblue,
.bg-primary,
.btn-primary {
  background-color: var(--court-dkblue) !important;
  color: #fff;
}
.bg-court-ltblue {
  background-color: var(--court-ltblue) !important;
  color: #333;
}
.bg-court-dkgrey {
  background-color: var(--court-dkgrey) !important;
  color: #fff;
}
.btn.bg-court-dkgrey:hover,
.bg-court-dkgrey a:hover {
  color: #c0c0c0;
}
#petition .col img {
  width: 75px;
  height: 75px;
  background-color: #f3c727;
}
.bg-card1 {
  background-color: #305687;
}
.bg-card2 {
  background-color: #0065b8;
}
.bg-card3 {
  background-color: #00a0e2;
  color: #000;
}
.bg-card4 {
  background-color: #dbe9f7;
  color: #000;
}
.text-gold{color: var(--court-gold)}
.text-dkblue{color: var(--court-dkblue)}
.social-media a {
  padding: 10px;
}
/*court services icons*/
.court-services img {
  padding: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
}
/*Youtube*/
.fluid-yt > iframe {
  display: block;
  width: 100%;
  height: 100%;
}
@supports not (aspect-ratio: 16 / 9) {
  .fluid-yt {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .fluid-yt > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.accordion-button{font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;}}