@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body,
:root {
  font-family: "Lato", Tahoma, sans-serif;
  color: #222;
  font-size: 18px;
  --primary: rgb(18, 32, 92, 1);
  --blue-pale: rgba(244, 247, 252, 1);
  --blue3: #005994;
  --warning: rgba(248, 229, 160, 1);
  background-color: #fff !important;
}

nav {
  background-color: #232f3d;
  border-bottom: 5px solid #f5c04f;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

nav a,
footer a {
  color: #fff;
}

.nav-search {
  border-radius: 10px !important;
  font-size: 14px;
}

.nav-search .form-control::placeholder,
.nav-search value,
.nav-search input {
  font-style: italic;
}

.nav-search i {
  font-style: normal;
}

.navbar .megamenu {
  padding: 1rem;
  font-size: 14px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(206, 221, 237);
  border-top: 5px solid #f5c04f;
}
.megamenu .bg-ltblue,
.bg-ltblue {
  background-color: rgb(206, 221, 237);
}
.bg-blue-pale {
  background: var(--blue-pale);
}
@media all and (min-width: 992px) {
  a.nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0.75rem 10px 0.5rem !important;
  }
  .megamenu h6.title {
    font-size: 16px;
  }
  .megamenu ul {
    padding-left: 15px;
    list-style: disc;
    li {
      padding-top: 5px;
    }
  }
  .col-megamenu a {
    color: black;
    font-size: 14px;
  }
  .megamenu a:hover {
    color: var(--blue3);
  }
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}
.breadcrumb-item > img {
  margin-top: -0.4rem;
}
footer {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #232f3d;
  color: #fff;
}

footer strong {
  letter-spacing: 0.5px !important;
}

footer .sixteen,
footer a {
  font-size: 16px;
}

footer a:hover {
  text-decoration: underline;
  color: inherit;
}

footer .brands a {
  margin-right: 20px;
  font-size: 24px;
}

footer .last-line a {
  text-decoration: underline;
}

.homesplash {
  background: var(--primary) url("../img/homesplash5.jpg") no-repeat center top;
  background-size: cover;
  border-radius: 0 0 20px 20px;
  max-height: 445px;
  color: white;
}

.homesplash .hero-search {
  background: rgba(0, 52, 111, 0.8);
}
.hero {
  border-radius: 0 0 20px 20px;
}
.hero-linkbar {
  background-color: rgb(206, 221, 237);
  max-width: 975px;
  min-height: 105px;
  margin: auto;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  bottom: -90px;
}

.hero-linkbar i {
  width: 20px;
}

.homenewssplash {
  background: linear-gradient(rgba(50, 104, 168, 0.9), rgba(50, 104, 168, 0.9)),
    url("../img/Court_ComunicationsBG.jpg") no-repeat center bottom;
  background-size: cover;
}

.homemapsplash {
  background: linear-gradient(rgba(243, 247, 254, 0.9), rgba(243, 247, 254, 0.9)),
    url("../img/LocateaCourthouse-BG.jpg") no-repeat center bottom;
  background-size: cover;
}

.atcourtsplash {
  background: linear-gradient(rgba(50, 104, 168, 0.19), rgba(50, 104, 168, 0.19)),
    #fff url("../img/CourtSeal-cropped.png") no-repeat left top;
}

img.icons {
  width: 22px;
  height: 22px;
  margin: 0 5px 5px 0;
}

.minicard {
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
}

.minicard img {
  width: 100%;
}

.bigger {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 10px;
  border-radius: 10px;
}

.smaller {
  width: calc(100% - 24px);
  /*height: 107px;*/
  background: rgba(18, 32, 92, 0.9);
  position: absolute;
  bottom: 0px;
  color: white;
  border-radius: 0 0 10px 10px;
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 6px 20px 0;
  left: 12px;
  letter-spacing: 0.5px !important;
}

.smaller small {
  color: #d4d4d4;
}

a {
  color: #000;
  text-decoration: none;
}

.pk-card-home {
  max-width: 375px;
  height: 333px;
  position: relative;
}

.pk-card-home *:not(.btn) {
  border-radius: 20px;
}

.pk-card-home .pk-img {
  width: 316px;
  height: 147px;
  margin: auto;
  background-color: #65daa2;
  position: relative;
  z-index: 2;
}

.pk-card-home .pk-body {
  width: clamp(350px, 375px);
  height: 261px;
  background-color: teal;
  position: relative;
  margin-top: -50px;
  padding: 10px 20px;
}

.pk-card-home .pk-body.first {
  background: #cedded;
}

.pk-card-home .pk-body.second {
  background: #dbe4e7;
}

.pk-card-home .pk-body.third {
  background: #f5e49d;
}
.pk-card-home .pk-body.fourth {
  background: #ddead1;
}

.pk-card-home .btn {
  position: absolute;
  bottom: 20px;
}

.pk-card-home .pk-card-title {
  margin-top: 60px;
}

.rounded {
  border-radius: 20px !important;
}

.rounded div.rounded,
.rounded img.rounded {
  border-radius: 10px !important;
}

.rounded-br {
  border-radius: 0 0 20px 0 !important;
}
.rounded-bl {
  border-radius: 0 0 0 20px !important;
}

.btn {
  border-radius: 10px;
}

.primary {
  color: var(--primary);
}

h1 {
  font-size: 2.25em !important;
}

.blue3,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary {
  color: var(--blue3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px !important;
  font-weight: bold !important;
}

h3,
h4,
h5 {
  letter-spacing: 0.5px !important;
}
.fs-22 {
  font-size: 22px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.bg-warning,
.btn-warning {
  background-color: var(--warning) !important;
  border-color: var(--warning);
}

.case-cards .border {
  border-color: #b7d3ef !important;
}

.case-cards .rounded.border.border-2.py-2.px-4.m-md-2:hover {
  background-color: #b7d3ef;
  color: #000;
}

.case-cards .col-md-4 > div {
  width: 346px;
  min-height: 188px;
  padding: 20px;
}

.case-cards .title {
  font-size: 23px;
  font-weight: bold;
}

.maps {
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  margin: 20px auto;
}

.mobile-hotlink a:hover,
.case-cards .border:hover {
  background-color: #c4c4c4;
}

@media (max-width: 500px) {
  .case-cards .col-md-4 {
    padding: 0px !important;
    width: 100% !important;
  }

  .case-cards .rounded {
    width: 100% !important;
    margin: 0px;
  }

  .homesplash .col-lg-6 {
    padding: 0;
  }

  .homesplash .hero-search {
    top: 100px;
    position: relative;
  }
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
/* not exactly the 55 characters per line, but close enough */
.maxchar-55 * {
  width: 100vw;
  max-width: 55ch;
}

/* this is the menu that pushes from the right */
@media all and (max-width: 992px) {
  .offcanvas.show {
    width: 100vw;
    --bs-offcanvas-padding-x: 0;
  }
  h2.accordion-header button {
    color: var(--blue3) !important;
    font-weight: bold;
  }
  h2.accordion-button::after {
    background: linear-gradient(rgba(50, 104, 168, 0.9), rgba(50, 104, 168, 0.9)) !important;
  }
}

.accordion.blue-accordion .accordion-button::after {
  background-color: #232f3d;
  border-radius: 4px;
  padding: 15px;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 20 20' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 20 20' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") !important;
}

.content-bottom {
  position: absolute;
  bottom: 0;
}
@media (max-width: 1439px) {
  nav,
  .hero,
  .homesplash,
  .container-xxl.rounded {
    border-radius: 0 !important;
  }
}
.maps .list-group a {
  strong {
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
  }
  font-size: 12px;
}

/* callouts */
.callout {
  background-color: var(--blue-pale);
  border: 0px solid #ddd;
  border-left: 3px solid var(--blue3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  i {
    color: var(--blue3);
  }
  &.callout-danger {
    border-left-color: red;
    i {
      color: red;
    }
  }
  &.callout-warning {
    border-left-color: var(--warning);
    i {
      color: var(--warning);
    }
  }
}
