.autocomplete {
  position: relative;
}

.autocomplete .arrow-icon {
  position: absolute;
  right: 10px;
  bottom: 0;
  margin: auto;
}

.autocomplete input {
  border-color: #CFD9E0;
  color: #67728A;
  font-size: 14px;
  text-align: left;
}

.autocomplete input:focus {
  box-shadow: 0 0 0 3px #98CBFF;
}

.autocomplete input:disabled {
  background: #F7F9FA;
}

.autocomplete label {
  font-size: 14px;
  color: #111B2B;
  font-weight: 500;
}