@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap);
:root,
body,
html {
  font-size: 16px;
  --court-primary: #005498;
  --court-black: #231f20;
  --court-ltblue: 212, 229, 245;
  --court-paleblue: #f0f4fc;
  --court-dkblue: #232f3d;
  --court-yellow: #f3c727;
  --court-grey: #95a3ab;
  --court-ltgrey: #eee;
  --prog-green: #55b776;
  --court-gold: rgb(245, 192, 79);
  font-family: calibri, Tahoma, Arial, monotype;
  color: var(--court-black);
  font-display: swap;
}
a {
  color: var(--court-primary);
}
nav {
  background-color: #fff;
}
.court-topbar {
  background-color: var(--court-dkblue);
  color: #fff;
  border-bottom: 5px solid var(--court-gold);
  text-align: center;
  font-weight: 700;
}
div.lasc-logo {
  background-color: #1f303e;
}
footer a,
header a,
nav a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #000 !important;
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .list-group-item {
  padding: 0.125rem;
}
.splash {
  background: silver url(../img/splash4.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
button:disabled {
  background-color: var(--court-grey) !important;
  border-color: var(--court-grey) !important;
}
.bd-primary,
.btn-primary {
  background-color: var(--court-primary);
  color: #fff;
}
.btn-primary {
  border-color: var(--court-primary);
}
.text-primary {
  color: var(--court-primary) !important;
}
.text-dkblue {
  color: var(--court-dkblue) !important;
}
.bg-ltblue,
.btn-info,
.btn-ltblue {
  background-color: rgba(var(--court-ltblue), 0.9) !important;
}
.btn-info,
.btn-ltblue {
  border-color: rgba(var(--court-ltblue), 0.9);
}
.bg-gold,
.btn-gold {
  background-color: var(--court-gold);
  color: #fff;
}
.btn-gold {
  border-color: var(--court-gold);
}
.bg-ltgrey {
  background-color: var(--court-ltgrey);
}
.accordion-body,
.accordion-button,
.accordion-header,
.accordion-item {
  background-color: transparent;
}
.accordion-item {
  border: 0 solid green;
  border-bottom: 1px solid var(--court-grey);
}
#components {
  background-color: #1f303e;
}
#components > .container {
  background-color: #fff;
}
.shadow1 {
  box-shadow: 2px 2px 1px #999;
}
.card-transparent,
.card-transparent .card-header {
  background: 0 0;
  border-color: transparent;
}
.card h3 {
  font-size: 1.5rem;
}
.card-header {
  border-color: transparent;
}
.transparent,
.transparent li {
  background: 0 0;
  border-color: transparent;
}
.accordion-item.noline {
  border-bottom: 0 !important;
  padding-left: 0.125rem;
}
.accordion-item.noline .accordion-collapse {
  background-color: #fff;
  padding: 0.125rem;
}
.noline button.accordion-button,
.noline::marker {
  color: #00f !important;
}
.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.35rem;
  border-radius: 0.35rem;
}
.bd-callout-primary {
  border-color: var(--court-dkblue) !important;
}
.bd-callout-danger {
  border-color: red !important;
}
.bd-callout-success {
  border-color: green !important;
}
.bd-callout-info {
  border-color: var(--court-ltblue) !important;
}
.bd-callout-warning {
  border-color: var(--court-yellow) !important;
}
#progress .progressbar {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
.progressbar li > span {
  font-size: 18px;
  color: #666;
}
.progressbar li.active {
  color: #000;
  font-weight: 700;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid var(--court-grey);
  display: block;
  text-align: center;
  margin: 0 auto 3px auto;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #333;
  top: 15px;
  left: -50%;
  z-index: 0;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active + li:after {
  background-color: #333;
}
.progressbar li.active:before {
  background: var(--prog-green);
  background-size: 60%;
  border-color: var(--prog-green);
}
.progressbar li.success:before {
  background-color: var(--prog-green);
  color: #fff;
  border-color: var(--prog-green);
}
.progressbar li.active:before {
  background-color: #fff;
  color: #fff;
  border-width: 5px;
}
.progressbar li.inactive:before {
  border: 2px solid grey;
}
.progressbar li:before {
  background: #fff;
  background-size: 60%;
}
.progressbar li:before {
  content: "\2713";
  color: #fff;
  font-weight: 700;
}
.progressbar li.error:before {
  background: red;
  background-size: 60%;
  border: 5px solid red;
  content: "\2298";
  line-height: 20px;
  font-weight: 700;
}
.progressbar li.danger:before {
  border: 5px solid red;
}

.modal-footer {
  justify-content: start;
}
.ESL,
.JID,
.MIL,
.citizen,
.malfeasance,
.nonresident,
.under18,
.box {
  display: none;
}
