@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root,
html,
body {
  font-size: 16px;
  --court-black: #231f20;
  --court-ltblue: #d4e5f5;
  --court-paleblue: #f0f4fc;
  --court-dkblue: #232f3d;
  --court-yellow: #f3c727;
  --court-grey: #95a3ab;
  --court-ltgrey: #eee;
  --court-gold: #f5c04f;
  font-family: calibri, Tahoma, Arial, monotype;
  color: var(--court-black);
  font-display: swap;
}
nav{background-color: #fff;}
header a, nav a,
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover{color:white; text-decoration: underline;}
div.lasc-logo {
  background-color: #1f303e;
}
.court-topbar
{
  background-color: var(--court-dkblue);
  color: #fff;
  border-bottom: 5px solid var(--court-gold);
  text-align: center;
  font-weight: bold;
}
.bg-primary,.bg-dkblue,.btn-primary,footer{background-color: var(--court-dkblue) !important;color:#fff}
.bg-ltblue,.btn-ltblue{background-color: var(--court-ltblue) !important}
.bg-ltgrey{background-color: var(--court-ltgrey);}
.accordion-body,.accordion-button,.accordion-body,.accordion-header,.accordion-item{background-color: transparent;}
.accordion-item{border:0px solid green;border-bottom: 1px solid var(--court-grey);}
#components {background-color: #1f303e;}
#components > .container{background-color: #fff;}
.shadow1{box-shadow: 2px 2px 1px #999;}