:root,
body,
html {
  font-size: 16px;
  --blue-dark: #011853;
  --blue-mid: #25303d;
  --blue-pale: #f2f6fa;
  --blue-border: #bed9f0;
  --blue-other: #005994;
  --grey: #dddddd;
  font-family: calibri, Tahoma, Arial, monotype;
  font-display: swap;
}
button {
  color: #fff;
}
a {
  color: #0573bc;
}
.border-blue-other {
  border-color: var(--blue-other) !important;
}
.bg-blue-dark {
  color: #fff;
  background-color: var(--blue-dark);
  a {
    color: #fff;
  }
}
.bg-blue-mid {
  color: #fff;
  background-color: var(--blue-mid);
  a {
    color: #fff;
  }
}

.bg-grey {
  background-color: var(--grey);
}

.accordion {
  border-color: #b3b3b3;
  .box-blue {
    border-width: 1px;
  }
}
.accordion-button:not(.collapsed),
.accordion-body {
  background-color: #fafafa !important;
}
.box-white {
  border: 2px solid #000;
  background-color: #fff;
}
.box-blue {
  border: 4px solid #bed9f0;
  background-color: #f2f6fb;
}
a.box-button {
  border: 2px solid #bed9f0;
  color: #0366d6;
  padding: 15px 30px;
  text-decoration: none;
  &:hover {
    background-color: #767676;
    color: #fff;
  }
}

.splash {
  background: silver url(../img/people.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #011853;
}
.mega-over {
  background-color: rgba(2, 35, 98, 0.3);
  width: 100%;
  height: 100%;
  margin-top: -3rem !important;
}
