:root,
body,
html {
  font-size: 16px;
  --blue-dark: #011853;
  --blue-mid: #022362;
  --blue-pale: #F2F6FA;
  --blue-border: #BED9F0;
  --blue-other: #005994;
  --grey: #ddd;
  font-family: calibri, Tahoma, Arial, monotype;
  font-display: swap;
}
button {
  background-color: var(--blue-other);
  color:#fff
}
a {
  color: #0573bc;
}
.border-blue-other{border-color: var(--blue-other) !important;}
.bg-blue-dark {
  color: #fff;
  background-color: var(--blue-dark);
  a {
    color: #fff;
  }
}
.bg-blue-mid {
  color: #fff;
  background-color: var(--blue-mid);
  a {
    color: #fff;
  }
}
.bg-blue-pale {
  background-color: var(--blue-pale);
}
.bg-grey {
  background-color: var(--grey);
}
a.block {
  width: 305px !important;
  height: 70px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--blue-other);
  border: 3px solid var(--blue-pale);
  &:hover {
    background-color: var(--grey);
    color: #fff;
  }
}
