:root,
body,
html {
  font-size: 16px;
  --blue-dark: #011853;
  --blue-mid: #022362;
  --blue-pale: #f2f6fa;
  --blue-border: #bed9f0;
  --blue-other: #005994;
  --grey: #dddddd;
  font-family: calibri, Tahoma, Arial, monotype;
  font-display: swap;
}
button {
  background-color: var(--blue-other);
  color: #fff;
}
a {
  color: #0573bc;
}
.border-blue-other {
  border-color: var(--blue-other) !important;
}
.bg-blue-dark {
  color: #fff;
  background-color: var(--blue-dark);
  a {
    color: #fff;
  }
}
.bg-blue-mid {
  color: #fff;
  background-color: var(--blue-mid);
  a {
    color: #fff;
  }
}
.bg-blue-pale {
  background-color: var(--blue-pale);
}
.bg-grey {
  background-color: var(--grey);
}
a.block {
  width: 305px !important;
  height: 70px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--blue-other);
  border: 3px solid var(--blue-pale);
  &:hover {
    background-color: var(--grey);
    color: #fff;
  }
}
.blue-box {
  background-color: var(--blue-pale);
  border: 1px solid var(--blue-border);
  padding: 10px;
}
.accordion {
  border-color: #b3b3b3;
}
.accordion-button:not(.collapsed),
.accordion-body {
  background-color: #fafafa !important;
}
