.badge {
  font-family: "Lato", sans-serif;
  line-height: 18px;
  letter-spacing: 1.6px;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline;
  font-weight: 600;
}

.badge.lg {
  font-size: 12px;
}

.badge.sm {
  font-size: 10px;
}

.badge.primary {
  background-color: #ceecff;
  color: #0059c8;
}

.badge.primary-filled {
  background-color: #0059c8;
  color: #fff;
}

.badge.positive {
  background-color: #cdf3c6;
  color: #006d23;
}

.badge.positive-filled {
  background-color: #006d23;
  color: #fff;
}

.badge.negative {
  background-color: #ffe0e0;
  color: #bd002a;
}

.badge.negative-filled {
  background-color: #bd002a;
  color: #fff;
}

.badge.warning {
  background-color: #fde5c0;
  color: #b12d00;
}

.badge.warning-filled {
  background-color: #b12d00;
  color: #fff;
}

.badge.secondary {
  background-color: #e7ebee;
  color: #414d63;
}

.badge.secondary-filled {
  background-color: #414d63;
  color: #fff;
}

.badge.featured {
  background-color: #ede3ff;
  color: #6c3ecf;
}

.badge.featured-filled {
  background-color: #6c3ecf;
  color: #fff;
}
