.button {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}

.button .prefix-icon {
  font-size: 12px;
  margin-right: 12px;
}

.button .suffix-icon {
  font-size: 12px;
  margin-left: 12px;
}

/* Button sizes */

.button.sm {
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  padding: 6px 12px;
}

.button.md {
  font-size: 20px;
  letter-spacing: -0.15px;
  line-height: 20px;
  padding: 12px 16px;
}

.button.lg {
  font-size: 20px;
  letter-spacing: -0.15px;
  line-height: 20px;
  padding: 16px 18px;
}

/* Primary button */

.button.primary {
  color: #ffffff;
  background-color: #005994;
  border-color: #036FE3;
}

.button.primary:hover {
  background-color: #0073C0;
  border-color: #0059C8;
}

.button.primary:active {
  background-color: #004B7D;
  border-color: #0041AB;
}

.button.primary:focus {
  box-shadow: 0 0 0 3px #98CBFF;
}

.button.primary:disabled {
  opacity: 0.5;
  background-color: #036FE3;
}

/* Secondary button */

.button.secondary {
  color: #333333;
  background-color: #F7F9FA;
  border-color: #CFD9E0;
}

.button.secondary:hover {
  background-color: #E7EBEE;
  border-color: #CFD9E0;
}

.button.secondary:active {
  background-color: #F7F9FA;
  border-color: #CFD9E0;
}

.button.secondary:focus {
  box-shadow: 0px 0px 0px 3px #98CBFF;
}

.button.secondary:disabled {
  opacity: 0.5;
  background-color: #FFFFFF;
}

/* Positive button */

.button.positive {
  color: #ffffff;
  background-color: #008539;
  border-color: #00A372;
}

.button.positive:hover {
  background-color: #006D23;
  border-color: #00B37A;
}

.button.positive:active {
  background-color: #00550C;
  border-color: #008F63;
}

.button.positive:focus {
  box-shadow: 0px 0px 0px 3px #9ED696;
}

.button.positive:disabled {
  opacity: 0.5;
  background-color: #008539;
}

/* Negative button */

.button.negative {
  color: #FFFFFF;
  background-color: #BD002A;
  border-color: #BD002A;
}

.button.negative:hover {
  background-color: #990017;
  border-color: #990017;
}

.button.negative:active {
  background-color: #7F0010;
  border-color: #7F0010;
}

.button.negative:focus {
  box-shadow: 0px 0px 0px 3px #FFB1B2;
}

.button.negative:disabled {
  opacity: 0.5;
  background-color: #BD002A;
}

/* Transparent button */

.button.transparent {
  color: #333333;
  background-color: transparent;
  border-color: #ffffff;
}

.button.transparent:hover {
  background-color: #F7F9FA;
  border-color: #ffffff;
}

.button.transparent:active {
  background-color: transparent;
  border-color: #ffffff;
}

.button.transparent:focus {
  box-shadow: 0px 0px 0px 3px #98CBFF;
}

.button.transparent:disabled {
  opacity: 0.5;
  background-color: transparent;
}