html {
  --mat-sys-background: #faf9fd;
  --mat-sys-error: #ba1a1a;
  --mat-sys-error-container: #ffdad6;
  --mat-sys-inverse-on-surface: #f2f0f4;
  --mat-sys-inverse-primary: #abc7ff;
  --mat-sys-inverse-surface: #2f3033;
  --mat-sys-on-background: #1a1b1f;
  --mat-sys-on-error: #ffffff;
  --mat-sys-on-error-container: #410002;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-on-primary-container: #001b3f;
  --mat-sys-on-primary-fixed: #001b3f;
  --mat-sys-on-primary-fixed-variant: #00458f;
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-on-secondary-container: #131c2b;
  --mat-sys-on-secondary-fixed: #131c2b;
  --mat-sys-on-secondary-fixed-variant: #3e4759;
  --mat-sys-on-surface: #1a1b1f;
  --mat-sys-on-surface-variant: #44474e;
  --mat-sys-on-tertiary: #ffffff;
  --mat-sys-on-tertiary-container: #00006e;
  --mat-sys-on-tertiary-fixed: #00006e;
  --mat-sys-on-tertiary-fixed-variant: #0000ef;
  --mat-sys-outline: #74777f;
  --mat-sys-outline-variant: #c4c6d0;
  --mat-sys-primary: #005cbb;
  --mat-sys-primary-container: #d7e3ff;
  --mat-sys-primary-fixed: #d7e3ff;
  --mat-sys-primary-fixed-dim: #abc7ff;
  --mat-sys-scrim: #000000;
  --mat-sys-secondary: #565e71;
  --mat-sys-secondary-container: #dae2f9;
  --mat-sys-secondary-fixed: #dae2f9;
  --mat-sys-secondary-fixed-dim: #bec6dc;
  --mat-sys-shadow: #000000;
  --mat-sys-surface: #faf9fd;
  --mat-sys-surface-bright: #faf9fd;
  --mat-sys-surface-container: #efedf0;
  --mat-sys-surface-container-high: #e9e7eb;
  --mat-sys-surface-container-highest: #e3e2e6;
  --mat-sys-surface-container-low: #f4f3f6;
  --mat-sys-surface-container-lowest: #ffffff;
  --mat-sys-surface-dim: #dbd9dd;
  --mat-sys-surface-tint: #005cbb;
  --mat-sys-surface-variant: #e0e2ec;
  --mat-sys-tertiary: #343dff;
  --mat-sys-tertiary-container: #e0e0ff;
  --mat-sys-tertiary-fixed: #e0e0ff;
  --mat-sys-tertiary-fixed-dim: #bec2ff;
  --mat-sys-neutral-variant20: #2d3038;
  --mat-sys-neutral10: #1a1b1f;
}
html {
  --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-body-large: 400 1rem / 1.5rem Roboto;
  --mat-sys-body-large-font: Roboto;
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 0.875rem / 1.25rem Roboto;
  --mat-sys-body-medium-font: Roboto;
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.75rem / 1rem Roboto;
  --mat-sys-body-small-font: Roboto;
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large: 400 3.562rem / 4rem Roboto;
  --mat-sys-display-large-font: Roboto;
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 2.812rem / 3.25rem Roboto;
  --mat-sys-display-medium-font: Roboto;
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 2.25rem / 2.75rem Roboto;
  --mat-sys-display-small-font: Roboto;
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
  --mat-sys-headline-large-font: Roboto;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
  --mat-sys-headline-medium-font: Roboto;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
  --mat-sys-headline-small-font: Roboto;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-label-large-font: Roboto;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem Roboto;
  --mat-sys-label-medium-font: Roboto;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem Roboto;
  --mat-sys-label-small-font: Roboto;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
  --mat-sys-title-large-font: Roboto;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
  --mat-sys-title-medium-font: Roboto;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-title-small-font: Roboto;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}
html {
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;
}
html {
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}
.mdc-notched-outline {
  height: 36px !important;
}
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 0 0 4px;
}
.mat-mdc-row {
  height: 40px;
}
mat-form-field {
  width: 150px !important;
  height: 65px;
  vertical-align: top !important;
}
.scrollable-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 1200px;
}
.table-x-scroll {
  overflow-x: scroll;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-caption {
  font-size: small;
  background-color: #c7ccd6;
  color: #000;
  font-weight: 700;
  text-align: left;
  padding-left: 8px;
  padding-right: 20px;
}
.text-field {
  font-size: small;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
}
.table-modal {
  margin-left: 60px;
}
.text-caption-modal {
  font-size: small;
  background-color: #c7ccd6;
  color: #000;
  text-align: left;
  padding: 4px 0 4px 4px;
}
.text-field-modal {
  font-size: small;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.valigntop {
  vertical-align: top;
}
.valigncenter {
  vertical-align: middle;
}
.font-family,
.text-large,
.text-medium,
.text-small {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-small {
  font-size: x-small;
}
.text-medium {
  font-size: small;
}
.text-large {
  font-size: medium;
}
.fg-white {
  color: #fff;
}
.fg-red {
  color: red;
}
.bg-white {
  background-color: #fff;
}
.bg-dark-grey {
  background-color: #232f3d;
}
.bg-grey {
  background-color: #c7ccd6;
}
.bg-light-grey {
  background-color: #f1f2f5;
}
.caption {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #5a657c;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: #fff;
}
.caption-column {
  background-color: #5a657c;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.caption-modal {
  background-color: #5a657c;
  color: #fff;
  font-size: small;
}
.items-center {
  justify-content: center;
  align-items: center;
}
.no-wrap {
  white-space: nowrap;
}
.btn-group {
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
.btn-add,
.btn-search {
  outline-color: #33a4fb;
  background-color: #fff;
  color: #000;
  border-width: 3px;
  font-size: small;
  width: 100px;
}
.btn-save {
  outline-color: #33a4fb;
  background-color: #fff;
  color: #000;
  border-width: 3px;
  width: 100px;
}
.btn-cancel {
  outline-color: red;
  background-color: #fff;
  color: #000;
  border-width: 3px;
  width: 100px;
}
.nav-tabs .nav-item .nav-link {
  color: #000;
  background-color: #c7ccd6;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  border-color: #000;
  cursor: pointer;
}
.nav-tabs .nav-item .nav-link.active {
  color: #000;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 0px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700;&display=swap");
table {
  color: red;
}
:root,
*,
html,
body {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  border: unset !important;

  /* CTS Colors */
  --mutedMidnight: #232f3d;
  --strongBlue: #0013a5;
  --deepBlue: #207ec6;
  --boldBlue: #0085eb;
  --brightBlue: #33a4fb;
  --lightBrightBlue: #aad5f6;
  --highlightBrightBlue: #e7f5ff;
  --HoverBlue: #f4faff;
  --limeGreenMedium: #7aaf35;
  --limeGreenLight: #9ee640;
  --darkerSlate: #475063;
  --darkSlate: #5a657c;
  --medSlate: #8690a4;
  --lightSlate: #c7ccd6;
  --minimalSlate: #e5e7ec;
  --vaporSlate: #f1f2f5;
  --ghostSlate: #f7f7fa;
  --deepRed: #bc2113;
  --brightRed: #f33a29;
  --boldGold: #f3c629;

  /* Court Canon Colors */
  --DarkBlue: #012362;
  --LightBlue: #93b2dd;
  --Yellow: #f3c727;
  --Grey: #95a3ab;

  /* Court Stack Colors */
  --LogoBlue: #2d6eb4;
  --LogoGrey: #727272;

  /* Font Sizes */
  --header-allcaps: 26px;
  --header-sentencecase: 26px;
  --tabheader-allcaps: 24px;
  --paragraphtitle: 24px;
  --paragraph: 18px;
  --paragraphbold: 18px;
  --progressbar-allcaps: 20px;
  --paragraphsmall: 14px;
  --paragraphsmallbold: 14px;
  --buttonText: 16.5px;
  --buttonsmall: 16px;
  --mainnavbuttontext: 16px;
  --formTextBold: 13px;
  --formText: 13px;
  --formTextLink: 13px;
  --calendarTextBold: 11.5px;
  --calendarText: 11.5px;
  --calendarTextLink: 11.5px;

  /* utilities */
  --border-radius: 8px;
  --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bg-mutedMidnight {
  background-color: var(--mutedMidnight);
  color: #fff;
}
.bg-strongBlue {
  background-color: var(--strongBlue);
  color: #fff;
}
.bg-deepBlue {
  background-color: var(--deepBlue);
}
.bg-boldBlue {
  background-color: var(--boldBlue);
  color: #fff;
}
.bg-brightBlue {
  background-color: var(--brightBlue);
}
.bg-lightBrightBlue {
  background-color: var(--lightBrightBlue);
}
.bg-highlightBrightBlue {
  background-color: var(--highlightBrightBlue);
}
.bg-HoverBlue {
  background-color: var(--HoverBlue);
}
.bg-limeGreenMedium {
  background-color: var(--limeGreenMedium);
}
.bg-limeGreenLight {
  background-color: var(--limeGreenLight);
}
.bg-darkerSlate {
  background-color: var(--darkerSlate);
  color: #fff;
}
.bg-darkSlate {
  background-color: var(--darkSlate);
  color: #fff;
}
.bg-medSlate {
  background-color: var(--medSlate);
}
.bg-lightSlate {
  background-color: var(--lightSlate);
}
.bg-minimalSlate {
  background-color: var(--minimalSlate);
}
.bg-vaporSlate {
  background-color: var(--vaporSlate);
}
.bg-ghostSlate {
  background-color: var(--ghostSlate);
}
.bg-deepRed {
  background-color: var(--deepRed);
  color: #fff;
}
.bg-brightRed {
  background-color: var(--brightRed);
  color: #fff;
}
.bg-boldGold {
  background-color: var(--boldGold);
}
.bg-DarkBlue {
  background-color: var(--DarkBlue);
  color: #fff;
}
.bg-LightBlue {
  background-color: var(--LightBlue);
}
.bg-Yellow {
  background-color: var(--Yellow);
}
.bg-Grey {
  background-color: var(--Grey);
}
.bg-LogoBlue {
  background-color: var(--LogoBlue);
  color: #fff;
}
.bg-LogoGrey {
  background-color: var(--LogoGrey);
  color: #fff;
}

.mutedMidnight {
  color: var(--mutedMidnight);
}
.strongBlue {
  color: var(--strongBlue);
}
.deepBlue {
  color: var(--deepBlue);
}
.boldBlue {
  color: var(--boldBlue);
}
.brightBlue {
  color: var(--brightBlue);
}
.lightBrightBlue {
  color: var(--lightBrightBlue);
}
.highlightBrightBlue {
  color: var(--highlightBrightBlue);
}
.HoverBlue {
  color: var(--HoverBlue);
}
.limeGreenMedium {
  color: var(--limeGreenMedium);
}
.limeGreenLight {
  color: var(--limeGreenLight);
}
.darkerSlate {
  color: var(--darkerSlate);
}
.darkSlate {
  color: var(--darkSlate);
}
.medSlate {
  color: var(--medSlate);
}
.lightSlate {
  color: var(--lightSlate);
}
.minimalSlate {
  color: var(--minimalSlate);
}
.vaporSlate {
  color: var(--vaporSlate);
}
.ghostSlate {
  color: var(--ghostSlate);
}
.deepRed {
  color: var(--deepRed);
}
.brightRed {
  color: var(--brightRed);
}
.boldGold {
  color: var(--boldGold);
}
.DarkBlue {
  color: var(--DarkBlue);
}
.LightBlue {
  color: var(--LightBlue);
}
.Yellow {
  color: var(--Yellow);
}
.Grey {
  color: var(--Grey);
}
.LogoBlue {
  color: var(--LogoBlue);
}
.LogoGrey {
  color: var(--LogoGrey);
}

.border-mutedMidnight {
  border-color: var(--mutedMidnight);
}
.border-strongBlue {
  border-color: var(--strongBlue);
}
.border-deepBlue {
  border-color: var(--deepBlue);
}
.border-boldBlue {
  border-color: var(--boldBlue);
}
.border-brightBlue {
  border-color: var(--brightBlue);
}
.border-lightBrightBlue {
  border-color: var(--lightBrightBlue);
}
.border-highlightBrightBlue {
  border-color: var(--highlightBrightBlue);
}
.border-HoverBlue {
  border-color: var(--HoverBlue);
}
.border-limeGreenMedium {
  border-color: var(--limeGreenMedium);
}
.border-limeGreenLight {
  border-color: var(--limeGreenLight);
}
.border-darkerSlate {
  border-color: var(--darkerSlate);
}
.border-darkSlate {
  border-color: var(--darkSlate);
}
.border-medSlate {
  border-color: var(--medSlate);
}
.border-lightSlate {
  border-color: var(--lightSlate);
}
.border-minimalSlate {
  border-color: var(--minimalSlate);
}
.border-vaporSlate {
  border-color: var(--vaporSlate);
}
.border-ghostSlate {
  border-color: var(--ghostSlate);
}
.border-deepRed {
  border-color: var(--deepRed);
}
.border-brightRed {
  border-color: var(--brightRed);
}
.border-boldGold {
  border-color: var(--boldGold);
}
.border-DarkBlue {
  border-color: var(--DarkBlue);
}
.border-LightBlue {
  border-color: var(--LightBlue);
}
.border-Yellow {
  border-color: var(--Yellow);
}
.border-Grey {
  border-color: var(--Grey);
}
.border-LogoBlue {
  border-color: var(--LogoBlue);
}
.border-LogoGrey {
  border-color: var(--LogoGrey);
}
/* Font Sizes */
.header-allcaps {
  font-size: var(--header-allcaps);
  line-height: 1.076923;
}
.header-sentencecase {
  font-size: var(--header-sentencecase);
  line-height: 1.076923;
}
.tabheader-allcaps {
  font-size: var(--tabheader-allcaps);
  line-height: 1.083333;
  font-weight: 700;
}
.paragraphtitle {
  font-size: var(--paragraphtitle);
  line-height: 1.083333;
}
.paragraph {
  font-size: var(--paragraph);
  line-height: 1.111111;
}
.paragraphbold {
  font-size: var(--paragraphbold);
  line-height: 1.111111;
  font-weight: 700;
}
.progressbar-allcaps {
  font-size: var(--progressbar-allcaps);
  line-height: 1.1;
}
.paragraphsmall {
  font-size: var(--paragraphsmall);
  line-height: 1.285714;
}
.paragraphsmallbold {
  font-size: var(--paragraphsmallbold);
  line-height: 1.285714;
  font-weight: 700;
}
.mainnavbuttontext {
  font-size: var(--mainnavbuttontext);
  line-height: 1.25;
}
.textbold {
  font-size: var(--textbold);
  line-height: 1.230769;
  font-weight: 700;
}
.text {
  font-size: var(--text);
  line-height: 1.230769;
}
.textlink {
  font-size: var(--textlink);
  line-height: 1.230769;
}
.textbold {
  font-size: var(--textbold);
  line-height: 1.217391;
  font-weight: 700;
}
.text {
  font-size: var(--text);
  line-height: 1.217391;
}
.textlink {
  font-size: var(--textlink);
  line-height: 1.217391;
}

/* buttons */
button,
.button {
  font-size: var(--buttonText);
  line-height: 1.212121;
  color: #000;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--vaporSlate);
  border: 1px solid var(--vaporSlate);
  &:hover {
    opacity: 0.8;
    background-color: var(--darkSlate);
    border: 1px solid var(--darkSlate);
    color: #fff;
  }
  &:active {
    background-color: var(--darkerSlate);
    border: 1px solid var(--darkerSlate);
    box-shadow: none !important;
  }
}
.buttonsmall {
  font-size: var(--buttonsmall);
  line-height: 1.25;
  &:hover {
  }
  &:active {
  }
}

/* tables */
td.valigntop {
  border: none !important;
}
.ctstable,
.valigntop table {
  /*border-collapse: unset !important;*/
  margin: 20px;
  overflow: hidden;
  border-radius: var(--border-radius) !important;
  background-color: var(--darkerSlate) !important;
  border: 1px solid var(--darkerSlate) !important;
  box-shadow: var(--shadow) !important;
  font-size: var(--formText);
  strong {
    font-size: var(--formTextBold);
  }
  a {
    color: var(--formTextLink);
  }
  tr:not(:last-child) {
    border-bottom: 1px solid transparent !important;
  }
  td {
    overflow: hidden;
    width: 50%;
  }
}
.calendar {
  font-size: var(--calendarText);
  strong {
    font-size: var(--calendarTextBold);
  }
  a {
    color: var(--calendarTextLink);
  }
}

/* border radius classes */
.topradius {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.bottomradius {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.fullradius {
  border-radius: var(--border-radius);
}
.dropshadow {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}
