@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root,
*,
html,
body {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  border: unset !important;

  /* CTS Colors */
  --mutedMidnight: #232f3d;
  --strongBlue: #0013a5;
  --deepBlue: #207ec6;
  --boldBlue: #0085eb;
  --brightBlue: #33a4fb;
  --lightBrightBlue: #aad5f6;
  --highlightBrightBlue: #e7f5ff;
  --HoverBlue: #f4faff;
  --limeGreenMedium: #7aaf35;
  --limeGreenLight: #9ee640;
  --darkerSlate: #475063;
  --darkSlate: #5a657c;
  --medSlate: #8690a4;
  --lightSlate: #c7ccd6;
  --minimalSlate: #e5e7ec;
  --vaporSlate: #f1f2f5;
  --ghostSlate: #f7f7fa;
  --deepRed: #bc2113;
  --brightRed: #f33a29;
  --boldGold: #f3c629;

  /* Court Canon Colors */
  --DarkBlue: #012362;
  --LightBlue: #93b2dd;
  --Yellow: #f3c727;
  --Grey: #95a3ab;

  /* Court Stack Colors */
  --LogoBlue: #2d6eb4;
  --LogoGrey: #727272;

  /* Font Sizes */
  --header-allcaps: 26px;
  --header-sentencecase: 26px;
  --tabheader-allcaps: 24px;
  --paragraphtitle: 24px;
  --paragraph: 18px;
  --paragraphbold: 18px;
  --progressbar-allcaps: 20px;
  --paragraphsmall: 14px;
  --paragraphsmallbold: 14px;
  --buttonText: 16.5px;
  --buttonsmall: 16px;
  --mainnavbuttontext: 16px;
  --formTextBold: 13px;
  --formText: 13px;
  --formTextLink: 13px;
  --calendarTextBold: 11.5px;
  --calendarText: 11.5px;
  --calendarTextLink: 11.5px;

  /* layout */
  .container-cts {
    background-color: transparent;
    border-radius: var(--border-radius) !important;
    outline: 1px solid var(--darkSlate) !important;
    overflow: hidden;
    .title {
      background-color: var(--medSlate);
      color: #fff;
      padding: 0.25rem 0.5rem;
      font-size: 24px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  /* utilities */
  --border-radius: 8px;
  --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bg-mutedMidnight {
  background-color: var(--mutedMidnight);
  color: #fff;
}
.bg-strongBlue {
  background-color: var(--strongBlue);
  color: #fff;
}
.bg-deepBlue {
  background-color: var(--deepBlue);
}
.bg-boldBlue {
  background-color: var(--boldBlue);
  color: #fff;
}
.bg-brightBlue {
  background-color: var(--brightBlue);
}
.bg-lightBrightBlue {
  background-color: var(--lightBrightBlue);
}
.bg-highlightBrightBlue {
  background-color: var(--highlightBrightBlue);
}
.bg-HoverBlue {
  background-color: var(--HoverBlue);
}
.bg-limeGreenMedium {
  background-color: var(--limeGreenMedium);
}
.bg-limeGreenLight {
  background-color: var(--limeGreenLight);
}
.bg-darkerSlate {
  background-color: var(--darkerSlate);
  color: #fff;
}
.bg-darkSlate {
  background-color: var(--darkSlate);
  color: #fff;
}
.bg-medSlate {
  background-color: var(--medSlate);
}
.bg-lightSlate {
  background-color: var(--lightSlate);
}
.bg-minimalSlate {
  background-color: var(--minimalSlate);
}
.bg-vaporSlate {
  background-color: var(--vaporSlate);
}
.bg-ghostSlate {
  background-color: var(--ghostSlate);
}
.bg-deepRed {
  background-color: var(--deepRed);
  color: #fff;
}
.bg-brightRed {
  background-color: var(--brightRed);
  color: #fff;
}
.bg-boldGold {
  background-color: var(--boldGold);
}
.bg-DarkBlue {
  background-color: var(--DarkBlue);
  color: #fff;
}
.bg-LightBlue {
  background-color: var(--LightBlue);
}
.bg-Yellow {
  background-color: var(--Yellow);
}
.bg-Grey {
  background-color: var(--Grey);
}
.bg-LogoBlue {
  background-color: var(--LogoBlue);
  color: #fff;
}
.bg-LogoGrey {
  background-color: var(--LogoGrey);
  color: #fff;
}

.mutedMidnight {
  color: var(--mutedMidnight);
}
.strongBlue {
  color: var(--strongBlue);
}
.deepBlue {
  color: var(--deepBlue);
}
.boldBlue {
  color: var(--boldBlue);
}
.brightBlue {
  color: var(--brightBlue);
}
.lightBrightBlue {
  color: var(--lightBrightBlue);
}
.highlightBrightBlue {
  color: var(--highlightBrightBlue);
}
.HoverBlue {
  color: var(--HoverBlue);
}
.limeGreenMedium {
  color: var(--limeGreenMedium);
}
.limeGreenLight {
  color: var(--limeGreenLight);
}
.darkerSlate {
  color: var(--darkerSlate);
}
.darkSlate {
  color: var(--darkSlate);
}
.medSlate {
  color: var(--medSlate);
}
.lightSlate {
  color: var(--lightSlate);
}
.minimalSlate {
  color: var(--minimalSlate);
}
.vaporSlate {
  color: var(--vaporSlate);
}
.ghostSlate {
  color: var(--ghostSlate);
}
.deepRed {
  color: var(--deepRed);
}
.brightRed {
  color: var(--brightRed);
}
.boldGold {
  color: var(--boldGold);
}
.DarkBlue {
  color: var(--DarkBlue);
}
.LightBlue {
  color: var(--LightBlue);
}
.Yellow {
  color: var(--Yellow);
}
.Grey {
  color: var(--Grey);
}
.LogoBlue {
  color: var(--LogoBlue);
}
.LogoGrey {
  color: var(--LogoGrey);
}

.border-mutedMidnight {
  border-color: var(--mutedMidnight);
}
.border-strongBlue {
  border-color: var(--strongBlue);
}
.border-deepBlue {
  border-color: var(--deepBlue);
}
.border-boldBlue {
  border-color: var(--boldBlue);
}
.border-brightBlue {
  border-color: var(--brightBlue);
}
.border-lightBrightBlue {
  border-color: var(--lightBrightBlue);
}
.border-highlightBrightBlue {
  border-color: var(--highlightBrightBlue);
}
.border-HoverBlue {
  border-color: var(--HoverBlue);
}
.border-limeGreenMedium {
  border-color: var(--limeGreenMedium);
}
.border-limeGreenLight {
  border-color: var(--limeGreenLight);
}
.border-darkerSlate {
  border-color: var(--darkerSlate);
}
.border-darkSlate {
  border-color: var(--darkSlate);
}
.border-medSlate {
  border-color: var(--medSlate);
}
.border-lightSlate {
  border-color: var(--lightSlate);
}
.border-minimalSlate {
  border-color: var(--minimalSlate);
}
.border-vaporSlate {
  border-color: var(--vaporSlate);
}
.border-ghostSlate {
  border-color: var(--ghostSlate);
}
.border-deepRed {
  border-color: var(--deepRed);
}
.border-brightRed {
  border-color: var(--brightRed);
}
.border-boldGold {
  border-color: var(--boldGold);
}
.border-DarkBlue {
  border-color: var(--DarkBlue);
}
.border-LightBlue {
  border-color: var(--LightBlue);
}
.border-Yellow {
  border-color: var(--Yellow);
}
.border-Grey {
  border-color: var(--Grey);
}
.border-LogoBlue {
  border-color: var(--LogoBlue);
}
.border-LogoGrey {
  border-color: var(--LogoGrey);
}
/* Font Sizes */
.header-allcaps {
  font-size: var(--header-allcaps);
  line-height: 1.076923;
}
.header-sentencecase {
  font-size: var(--header-sentencecase);
  line-height: 1.076923;
}
.tabheader-allcaps {
  font-size: var(--tabheader-allcaps);
  line-height: 1.083333;
  font-weight: 700;
}
.paragraphtitle {
  font-size: var(--paragraphtitle);
  line-height: 1.083333;
}
.paragraph {
  font-size: var(--paragraph);
  line-height: 1.111111;
}
.paragraphbold {
  font-size: var(--paragraphbold);
  line-height: 1.111111;
  font-weight: 700;
}
.progressbar-allcaps {
  font-size: var(--progressbar-allcaps);
  line-height: 1.1;
}
.paragraphsmall {
  font-size: var(--paragraphsmall);
  line-height: 1.285714;
}
.paragraphsmallbold {
  font-size: var(--paragraphsmallbold);
  line-height: 1.285714;
  font-weight: 700;
}
.mainnavbuttontext {
  font-size: var(--mainnavbuttontext);
  line-height: 1.25;
}
.textbold {
  font-size: var(--textbold);
  line-height: 1.230769;
  font-weight: 700;
}
.text {
  font-size: var(--text);
  line-height: 1.230769;
}
.textlink {
  font-size: var(--textlink);
  line-height: 1.230769;
}
.textbold {
  font-size: var(--textbold);
  line-height: 1.217391;
  font-weight: 700;
}
.text {
  font-size: var(--text);
  line-height: 1.217391;
}
.textlink {
  font-size: var(--textlink);
  line-height: 1.217391;
}

/* buttons */
button,
.button {
  font-size: var(--buttonText);
  line-height: 1.212121;
  color: #000;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--vaporSlate);
  border: 1px solid var(--vaporSlate);
  padding: 12px 20px;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    background-color: var(--darkSlate);
    border: 1px solid var(--darkSlate);
    color: #fff;
    opacity: 1;
  }
  &:active {
    background-color: var(--darkerSlate);
    border: 1px solid var(--darkerSlate);
    box-shadow: none !important;
  }
}
.buttonsmall {
  font-size: var(--buttonsmall);
  line-height: 1.25;
  &:hover {
  }
  &:active {
  }
}
.btn-red,
*[type="reset"] {
  border: 1px solid var(--brightRed) !important;
  &:hover {
    background-color: var(--brightRed);
  }
  &:active {
    background-color: var(--deepRed);
    border-color: var(--deepRed);
  }
}

.btn-blue,
*[type="submit"] {
  border: 1px solid var(--brightBlue) !important;
  &:hover {
    background-color: var(--brightBlue);
  }
  &:active {
    background-color: var(--deepBlue);
    border-color: var(--deepBlue);
  }
}

/* tables */
.table thead tr {
  background-color: var(--darkSlate);
  color: #fff;
}
tfoot {
  background-color: var(--minimalSlate);
}
.ctstable-striped {
  background-color: transparent;
  border-radius: var(--border-radius) !important;
  outline: 1px solid var(--darkSlate) !important;
  overflow: hidden;
  tbody {
    tr:nth-child(odd) {
      background-color: white !important;
    }
    tr:nth-child(even) {
      background-color: var(--vaporSlate) !important;
    }
    tr {
      border-bottom: 1px solid var(--lightSlate) !important;
    }
  }
}
.ctstable {
  margin: 20px;
  overflow: hidden;
  border-radius: var(--border-radius) !important;
  background-color: var(--darkerSlate) !important;
  outline: 1px solid var(--darkerSlate) !important;
  box-shadow: var(--shadow) !important;
  font-size: var(--formText);
  strong {
    font-size: var(--formTextBold);
  }
  a {
    color: var(--formTextLink);
  }
  tr:not(:last-child) {
    border-bottom: 1px solid transparent !important;
  }
  td {
    overflow: hidden;
  }
}
.calendar {
  font-size: var(--calendarText);
  strong {
    font-size: var(--calendarTextBold);
  }
  a {
    color: var(--calendarTextLink);
  }
}

/* border radius classes */
.topradius {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.bottomradius {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.fullradius {
  border-radius: var(--border-radius);
}
.dropshadow {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

/* tabs */
.nav-tabs,
.tabs {
  border-bottom: 1px solid var(--darkSlate) !important;
  background-color: var(--ghostSlate) !important;
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
  margin-bottom: -1px !important;
  a,
  .nav-link {
    font-size: 18px;
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
    border: 1px solid var(--medSlate) !important;
    background-color: var(--ghostSlate);
    &.active {
      background-color: #fff;
      border-bottom: 1px solid #fff !important;
    }
    &:not(.active) {
      padding: 0.35rem 1rem !important;
      margin-top: 4px;
    }
  }
}
